<%- include('partials/header') %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
            </p>
        </div>
    </header>
    <div class="row text-center">
        <% campgrounds.forEach(camp => { %>
            <div class="col-md-3 col-sm-6 mb-5">
               <div class="card">
                    <img src=' <%= camp.image %> ' class="card-img-top"> 
                
                    <div class="card-body ">
                        <h5 class="card-title"><%= camp.name %></h5>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camp._id%>" class="btn btn-primary">Description</a>
                    </p>
                </div>  
            </div>
        <% }); %>
    </div>
</div>
    <%- include('partials/footer') %>